@CHARSET "UTF-8";
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.w_100{width:100% !important;}
.w_90{width:90% !important;}
.w_80{width:80% !important;}
.w_70{width:70% !important;}
.w_60{width:60% !important;}
.w_50{width:50% !important;}
.w_40{width:40% !important;}
.w_30{width:30% !important;}
.w_20{width:20% !important;}
.w_10{width:10% !important;}

.left {text-align: left;}
.center {text-align: center;}

body{background: #fff;}
header {display:flex; width:100%; margin:0px; padding:0px; background: linear-gradient(0deg, #222b54 50%, #636a8b 100%);
	text-align: center; position:fixed; z-index:9999;}
header a{text-decoration: none; color:#f7f7bf; font-family: 'Vitro_core'; font-size: 18px;}
header a:hover{background: #050b26;}
header .homeBtn{width:20%; margin:0px; padding:0px; line-height:50px;}
header .menu{width:60%; margin:0px; padding:0px; line-height:50px;}
header .menu li{float: left; display:block; width:16.6%; list-style: none; margin:0px; padding:0px; }
header .menu li a{display:block; margin:0px; padding:0px;}
header .menu li:hover > ul{display: block;}
header .menu li ul{display:none; width:100%; margin:0px; padding:0px;}
header .menu li ul li{float:inherit; display:block; width:100%; margin:0px; padding:0px;}
header .sign{width:20%; margin:0px; padding:0px; line-height:50px;}
header .sign li{float: left; display:block; width:50%; list-style: none; margin:0px; padding:0px; }
header .sign li a{display:block; margin:0px; padding:0px;}
header .sign li a:hover{background: #6d6d6d;}
header .sign li ul{display:none;width:100%; margin:0px; padding:0px;}
header .sign li ul li{float:inherit; margin:0px; padding:0px;}

.content{width:80%; min-height:2300px; padding:30px; margin:auto; padding-top:80px;}

.search{ display: block; width: 100%; text-align: center; line-height: 50px; margin: 30px; border: 1px solid black;}
/* .search .searchBtn{background: #222b54;color:white;;border-radius:20px;padding: 7px 15px 7px 15px;font-size: 17px;} */
.search .searchBtn{padding: 15px 30px 15px 30px;background: #222b54;color: white;margin-right: 30px;border-radius: 20px;font-weight: bold;}
.search .searchBtn:hover{background: #050b26;}

.tbl_type01{width:100%; margin-top:20px;}
.tbl_type01 th,td{border:1px solid #222b54; text-align: center}
.tbl_type01 th{background: linear-gradient(0deg, #222b54 50%, #636a8b 100%); color:#f7f7bf; font-family: 'Vitro_core'; padding:10px;}
.tbl_type01 .left{text-align:left ;padding-left:20px}

.tbl_type01 button{display:block;width:40%;margin:0;padding:0;height: 34px;border-radius: 20px; margin-left: 30px;}
.uptBtn{color:white; background: #1b851b; float:left;}
.delBtn{color:white; background: #ff3737;}

.mainImage{width:70%;}
.mainImage li{float:left; list-style: none;}
.mainImage li img{max-width: 350px; max-height: 250px;}

.insBtn{width:100%;text-align: right;line-height: 60px;}
.insBtn a{padding: 15px 30px 15px 30px;background: #222b54;color: white; border-radius: 20px;font-weight: bold;}
.insBtn a:hover{background: #050b26;}


.mainImg{display:block; width:100%; height: 800px;}
.mainImg .prevBtn{display:block;width:10%; line-height: 800px; float:left; text-align: center; font-size: 30px;}
.mainImg .nextBtn{display:block;width:10%; line-height: 800px; float:right; text-align: center; font-size: 30px;}
.mainImg .prevBtn:hover,.nextBtn:hover{ background:#222b54; color:white;}
/* .mainImg .img{display:block;width:80%; float:left; overflow: hidden;}
.mainImg .img li{display:block; width:100%; float:left; text-align:center; list-style: none;}
.mainImg .img li:not(.first) {display: none;} */
.slide{display:block;width: 1169px; height: 100%;margin:0;padding:0;text-align: center;overflow: hidden;position:relative; float:left;}
.slide ul{display: block;width:100%; height: 100%;padding:0;margin:0; position:absolute;}
.slide ul li{display:block; width:1169px; /*width:389px;*/ height: 100%; float:left; list-style: none; position:absolute; margin:0; padding:0;}
.slide ul li img{display:block; margin:auto; height: 100%;}
.slide ul li .imgStr{display: block; background: #222b54; color: #f7f7bf; width: 100%; margin: 0px;
    padding: 15px; font-size: 15px; font-family: 'Vitro_core';
}


.movies{display:block; width:100%; margin-top:40px;}
.movies table th,td{line-height:40px;}
.movies table a{display:block;}
.movies table a:hover{background:#222b54 ; color:white; font-size:bold;}


.diary{margin-top:40px;}
.diary a{display:block; width:100%;}
.diary a:hover{background:#222b54 ; color:white; font-size:bold;}


.tbl_type01 .btn{width:50%; margin:auto; padding:5px; display: block; border-radius: 20px; color:white; font-family: 'Vitro_core';}
.tbl_type01 .ins{background: #3086a9;}
.tbl_type01 .ins:hover{background: #1c9fd5;}
.tbl_type01 .upt{background: #3d830a;}
.tbl_type01 .upt:hover{background: #5fbf19;}
.tbl_type01 .del{background: #a51c1b;}
.tbl_type01 .del:hover{background: #dd201e;}



.aniCal{width:100%; display:flex; margin:0px; background:#222b54 ; color:#f7f7bf; font-family: 'Vitro_core'; }
.aniCal li{width:14.2%; text-align: center; maring:0px; }
.aniCal li a{display:block; width:100%; height: 100%;  padding:20px;}
.aniCal li a:hover{background:#2f45ab;}
.aniCal li a.on{background:#2f45ab;}


#videoView{display:block; width:50%; height: 500px; text-align: center; margin:auto; padding:0px;}















