<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-Script-Type" content="text/javascript">
    <meta http-equiv="content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="경남대표도서관">
    <meta name="keywords" content="경남대표도서관,도서관,경상남도">
    <meta name="description" content="경남대표도서관 로그인페이지입니다.">
    <title>경남대표도서관</title>
    <link rel="Shortcut Icon" href="http://lib.gyeongnam.go.kr/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://lib.gyeongnam.go.kr/rfc3/user/domain/lib.gyeongnam.go.kr.80/0/32.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://lib.gyeongnam.go.kr/rfc3/user/domain/lib.gyeongnam.go.kr.80/0/73.css" media="all">
</head>

<body>

    <!-- login -->
    <div class="login_area">
        <form id="login_form" name="login_form">
            <input type="hidden" id="agentId" name="agentId" th:value="${agentId}">

            <fieldset>
                <legend>로그인</legend>
                <div class="box_area login_top">
                    <h1 class="blind">경남대표도서관</h1>
                    <p class="logo">
                        <a href="/" title="메인화면">
                            <img src="/resources/img/logo_top.png" alt="경남대표도서관">
                        </a>
                    </p>
                    <h2 class="blind">경남대표도서관 로그인</h2>
                    <div class="input_form">
                        <p class="">아이디</p>
                        <p class="input_id">
                            <input type="text" id="id" name="id" title="아이디" placeholder="아이디" autofocus>
                        </p>
                        <p class="mt_20">비밀번호</p>
                        <p class="input_pw">
                            <input type="password" id="pw" name="pw" title="비밀번호" placeholder="비밀번호">
                        </p>

                        <!-- [개발자]입력 오류 안내 : 입력오류시 안내합니다. -->
                       <!-- <div class="no_alert">
                            <p>※ 아이디 또는 비밀번호를 다시 입력해 주세요.</p>
                            <p>※ 등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.</p>
                        </div>-->
                        <!-- //입력 오류 안내 -->

                    </div>
                    <div class="btn_big mb_10">
                        <input type="button" id="btn-login" value="로그인" class="agree wps_100">
                    </div>
                    <p class="save_id">
                        <input type="checkbox" id="saveIdChk">
                        <label for="saveIdChk">아이디 저장</label>
                    </p>
                    <div class="login_menu">
                        <a href="/account/idSearch.jsp" title="아이디 찾기">아이디 찾기</a>
                        <a href="/account/pwConfirm.jsp" title="비밀번호 찾기">비밀번호 찾기</a>
                        <a href="/account/registerAgree.jsp" title="회원가입">회원가입</a>
                    </div>
                </div>
                <div class="footer">
                    <div class="address">
                        <p>
                            <a href="http://lib.gyeongnam.go.kr/index.lib?menuCd=DOM_000000207005000000" target="_blank" title="새창 열림" class="c_red"><strong>개인정보처리방침</strong></a> <span class="c_gray">|</span>
                            <a href="http://lib.gyeongnam.go.kr/index.lib?menuCd=DOM_000000205006000000" target="_blank" title="새창 열림" class="c_bk1"><strong>찾아오시는 길</strong></a>
                        </p>
                        <p>창원시 의창구 사림로 45번길 59(구.인재개발원) </p>
                        <p>Copyright © Gyeongnamdaepyo Library. All rights reserved.</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- //login -->

    <div th:replace="include/jslib :: jslibs"></div>
    <script th:src="@{/resources/js/authentication/idpw/idPwLogin.js}"></script>

</body>
</html>
