<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.pki.internal.PkiMapper">
    <select id="findCertificateByCertInfo" parameterType="com.pentasecurity.isignplus.pki.model.PkiCertificateVO" resultType="com.pentasecurity.isignplus.pki.model.PkiCertificateVO">
        SELECT
            ID,
            DN,
            SERIALNUMBER,
            ISSUERDN,
            SKID,
            AKID,
            NOTAFTER,
            NOTBEFORE,
            CERTIFICATE,
            PID
        FROM
            ISIGN_CA_CERT
        WHERE
            DN = #{issuerDN}
        <if test='issuerSerialNumber != null and issuerSerialNumber != ""'>
            AND
            SERIALNUMBER = #{issuerSerialNumber}
        </if>
        <if test='akID != null and akID != ""'>
            AND
            SKID = #{akID}
        </if>
    </select>
    
    <select id="insertCertificateInfo" parameterType="com.pentasecurity.isignplus.pki.model.PkiCertificateVO" >
        INSERT into ISIGN_CA_CERT(
            ID,
            DN,
            SERIALNUMBER,
            ISSUERDN,
            SKID,
            AKID,
            NOTAFTER,
            NOTBEFORE,
            CERTIFICATE,
            PID)
        VALUES (
            #{ID},
            #{DN},
            #{serialNumber},
            #{issuerDN},
            #{skID},
            #{akID},
            #{notAfter},
            #{notBefore},
            #{certificate},
            #{PID})
    </select>
</mapper>