<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.config.internal.ConfigMapper">
	<update id="save" parameterType="com.pentasecurity.isignplus.config.model.ConfigVO">
		INSERT INTO isign_config (config_key, config_value)
		VALUES (#{configKey}, #{configValue})
		ON DUPLICATE KEY UPDATE config_value=#{configValue}
	</update>

    <select id="findAll" resultType="com.pentasecurity.isignplus.config.model.ConfigVO">
    	SELECT 
    		config_key AS configKey,
    		config_value AS configValue
    	FROM 
    		isign_config
	</select>
	
	<select id="findOne" parameterType="java.lang.String" resultType="com.pentasecurity.isignplus.config.model.ConfigVO">
    	SELECT 
    		config_key AS configKey,
    		config_value AS configValue
    	FROM
    		isign_config
    	WHERE
    		config_key = #{configKey}
	</select>

	<delete id="deleteOne" parameterType="com.pentasecurity.isignplus.config.model.ConfigVO">
		DELETE FROM isign_config
		WHERE config_key = #{configKey}
	</delete>
</mapper>