<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.logger.internal.LoggerMapper">
	<insert id="insertLogTemp" parameterType="com.pentasecurity.isignplus.logger.model.TempLogVO">
        INSERT INTO isign_log_temp(uuid, dttm, temp_log_data, log_type)
        VALUES (
        	#{uuid},
        	#{dttm},
        	#{tempLogData},
        	#{logType})
    </insert>
    
	<select id="getLastLoginDateList" resultType="string" parameterType="string">				
		select 
			date_format(dttm, '%Y-%m-%d %H:%i:%s') as LastLoginDate
           from 
           	isign_log_user 
           where 
           	log_code = 102300
           and 
           	user_id = #{userId}
           order by 
           	log_no desc
           limit 2
	</select>
</mapper>