<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.notes.internal.NotesMapper">
    <select id="findUserBySid" parameterType="java.lang.Long" resultType="com.pentasecurity.isignplus.notes.model.NotesUserVO">
        SELECT
            SID as sid,
            ID as userId,
            PWD as userPw,
            DOMINO_SERVER as dominoServer
        From
            isign_notes_user
        WHERE
            sid = #{sid}
    </select>
</mapper>