<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.openapi.internal.OpenApiMapper">
    <select id="findUserOpenApiAuth" parameterType="map" resultType="int">
        select count(*)
        from isign_map_api_user
        where user_id = #{userId} and api_name = #{apiName}
    </select>
    
    <select id="findOpenApiUserByApiKey" parameterType="String"
            resultType="com.pentasecurity.isignplus.openapi.model.OpenApiUser">
        select sid, api_key apiKey, api_secretkey apiSecretkey, api_email apiEmail
        from isign_api_user
        where api_key = #{apiKey}
    </select>
    
</mapper>