<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.role.internal.RoleMapper">

	<select id="countRoleByUserIdAndAgentServiceId" parameterType="com.pentasecurity.isignplus.role.model.RoleParamVO" resultType="int">
		SELECT 
			count(RU.RSID)
		from ISIGN_USER U 
			INNER JOIN ISIGN_ROLEUSERMAP RU on U.SID   = RU.USID 
			INNER JOIN ISIGN_ROLESERVICEMAP SS on RU.RSID = SS.RSID 
			INNER JOIN ISIGN_SERVICE S on SS.SSID = S.SID 
		WHERE
			U.ID = #{userId}
		AND 
			S.SID = #{agentServiceId}
	</select>

</mapper>