<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentasecurity.isignplus.test.test.internal.TestMapper">

    <select id="selectUser" resultType="com.pentasecurity.isignplus.test.test.TestData">
        SELECT id, name_kor as name FROM ISIGN_USER LIMIT 1
    </select>
    
    <select id="findUserByLoginId" resultType="com.pentasecurity.isignplus.test.test.TestData" parameterType="string">
        select
            id, pwd
        from ISIGN_USER
        where id = #{loginId}
	</select>
	
</mapper>