<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:include="token/tokenHeader :: head_script"></div>
    <div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>

<body>
<form id="form-send" method="post">
    <input type="hidden" id="secureToken" name="secureToken" th:value="${secureToken}">
    <input type="hidden" id="secureSessionId" name="secureSessionId" th:value="${secureSessionId}">
    <input type="hidden" id="csMode" name="csMode" th:value="${csMode}">
    <input type="hidden" id="userAgent" name="userAgent" th:value="${userAgent}">
</form>

<form id="form-agentProc" th:action="${returnUrl}" method="post">
</form>


<!-- <div th:replace="include/jslib :: jslibs"></div> -->
<script th:src="@{/resources/js/common/jquery-1.12.4.js}"></script>
<script th:src="@{/resources/js/token/saveToken.js}"></script>
<input type="hidden" id="whiteList" th:value="${whiteList}">
</body>
</html>