<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include/head :: head"></div>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/forge.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/jsbn.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/util.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/sha1.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/sha256.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/sha512.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/asn1.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/cipher.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/cipherModes.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/seed.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/aes.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/prng.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/random.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/rsa.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/forge/pkcs1.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/webcrypto/common/webcrypto.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/webcrypto/common/webcrypto_msg.js?v=3.0.4.5" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/webcrypto/js/webcrypto/e2e/webcrypto_e2e.js?v=3.0.4.5" charset="UTF-8"></script>
    <meta charset="UTF-8">
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body">

        <p class="login-box-msg" th:utext="#{ISSACWEB_ISSACWEB로그인}"></p>
        <form id="form-login">
        	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
        	<input type="hidden" id="issacwebData" name="issacwebData">
            <div class="alert alert-danger" style="display:none;" id="error-alert">
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Login ID" id="id"name="id">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" id="pw" name="pw">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8" style="margin-top: 5px;">
                    <a href="#" th:utext="#{ISSACWEB_비밀번호찾기}" id="link-find-password"></a>
                </div>
                <div class="col-xs-4">
                    <button type="button" id="btn-login" class="btn btn-primary btn-block btn-flat" th:utext="#{ISSACWEB_로그인}"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/authentication/issacweb/issacwebLogin.js}"></script>

</body>
</html>