<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="/token/tokenHeader :: head_script"></div>
    <div th:replace="include/head :: head"></div>
</head>
<body>
<form id="form-index" th:action="@{/authentication/saml2/idp/logout/response}" method="post">
    <input type="hidden" id="totalLogout" name="totalLogout" th:value="${totalLogout}">
    <input type="hidden" id="delayTime" name="delayTime" th:value="${delayTime}">
</form>

<iframe th:each="logoutUrl : ${logoutUrlList}" th:src="@{${logoutUrl}}" style='visibility:hidden;display:none'></iframe>

<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/authentication/saml/logout.js}"></script>
</body>
</html>