<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="authentication/pki/pkiHeader :: head_script"></div>
    <div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body">

        <p class="login-box-msg" th:utext="#{PKI_타이틀}"></p>
        <form id="form-login">
        	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
		    <input type="hidden" id="challenge" name="challenge" th:value="${challenge}">
		    <input type="hidden" id="response" name="response" >
            <div class="alert alert-danger" style="display:none;" id="error-alert">
            </div>
            <div class="row">
                <div class="col-xs-5">
                	<button type="button" id="btn-regist" class="btn btn-success btn-block btn-flat" th:utext="#{PKI_인증서등록}">인증서 등록</button>
                </div>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-5">
                    <button type="button" id="btn-login" class="btn btn-primary btn-block btn-flat" th:utext="#{PKI_인증서선택}">인증서 선택</button>
                </div>
            </div>
        </form>
    </div>
</div>

<input type="hidden" id="pkiRegisterPageUrl" th:value="${pkiRegisterPageUrl}">
<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/authentication/pki/pkiLogin.js}"></script>

<div th:include="authentication/pki/pkiPopup :: pkiPopup"></div>
<input type="hidden" id="whiteList" th:value="${whiteList}">


</body>
</html>