<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    
    <appender name="SCHEDULER-FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/lib/tomcat8-auth/logs/scheduler.log</file>
        <append>true</append>
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="org.thymeleaf" level="ERROR"/>
    <logger name="org.apache.ibatis" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.mybatis.spring" level="ERROR"/>

    <logger name="com.pentasecurity.isignplus" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="com.pentasecurity.isignplus.session.SessionRemoveScheduler" level="DEBUG" additivity="false">
        <appender-ref ref="SCHEDULER-FILE"/>
    </logger>
    
    <!-- mapper logging -->
    <!--logger name="com.pentasecurity.isignplus.agentservice.internal.AgentServiceMapper" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger-->

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>