<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="jslibs">
    <!-- backdrop template -->
    <script type="text/lodash-template" id="tpl-backdrop">
        <div class="backdrop">
            <div class="backdrop-content">
                <div>
                  <i class="fa fa-spin fa-refresh"></i>  Loading ...
                </div>
            </div>
        </div>
    </script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/jQuery/jQuery-2.1.4.min.js}"></script>
    <script th:src="@{/webjars/jquery-cookie/1.4.1/jquery.cookie.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/dist/js/app.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{/webjars/lodash/4.2.0/dist/lodash.min.js}"></script>
    <script th:src="@{/webjars/toastr/2.1.2/build/toastr.min.js}"></script>
    <script th:src="@{'/resources/js/common/locale.' + ${#locale?.language} +'.js'}"></script>
    <script th:src="@{/resources/js/common/common.js}"></script>
</div>
</body>
</html>
