@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{font-family: 'Hanna', serif; font-size: 17px; margin:0; padding:0; background: #2e2e2e; color:white;}
a{text-decoration: none; color:black;}
input[type=submit] {background: black; color: white;  width: 100px; height: 30px; border: 1px solid white; cursor: pointer; letter-spacing: 5px;
					font-family: 'Hanna', serif; font-size: 20px; text-align: center;}
input[type=button] {background: black; color: white;  width: 100px; height: 30px; border: 1px solid white; cursor: pointer; letter-spacing: 5px;
					font-family: 'Hanna', serif; font-size: 20px; text-align: center;}
input[type=text] {height: 20px; width: 70%;}		
input[type=password] {height: 20px; width: 70%;}
select { width: 300px; /* 원하는 너비설정 */ height: 20px; /* 여백으로 높이 설정 */ font-family: inherit; /* 폰트 상속 */ font-size:20px; 
		background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 100% 50%; /* 네이티브 화살표 대체 */ 
		background-color:white; letter-spacing: 5px;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }
		
		
@media all and (min-width:768px) { /* 데스크탑 CSS 작성 */

.header{background: #171717;}
.content{margin-top: 50px;}

.logo{width: 10%; display: inline-block;  line-height:50px; height: 50px; text-align: center; padding: 0; margin: 0; color:#e3e3e3; font-size: 30px;}
.login_menu{display: inline-block; width: 10%; line-height:50px; height: 50px; padding: 0; margin: 0; text-align: right;}
.login_menu a{color: #e3e3e3;}
.menu_wrap{margin-top: 50px;}

.mobMenu{display: none;}

.menu{background: #171717; list-style: none; line-height:50px; height: 50px; text-align: center; width:79%; padding: 0; margin: 0; display: inline-block; }
.menu li{display: inline-block; width: 150px; margin-left: auto;}
.menu li a{color: #e3e3e3; text-decoration: none;display: block;}
.menu li a:hover{background: #525252; color: #e3e3e3;}
.menu li ul{display: none;padding: 0;margin: 0 auto; position: absolute; width: 150px;}
.menu li:hover > ul{display: block;}
.menu li ul{background: #171717;}
.menu li ul li{width: 100%;}

.tbl_type01{width: 80%; margin: auto; padding: 0; text-align: center; border-collapse: collapse; border-spacing: 0; margin-bottom: 50px;
			background: #171717; color: #e3e3e3;}
.movie{width: 50%; margin:60px 0 0 60px;}
.tbl_type01 td, th{line-height: 50px; border: 1px solid #575757; border-collapse: collapse; border-spacing: 0;}
.tbl_type01 a,span{color: #e3e3e3; cursor: pointer;}
.tbl_type01 .content{text-align: left; padding: 20px; line-height: 27px;}
.tbl_type01 .btn01{margin: 10px;}
.tbl_type01 .l{text-align: left; padding-left: 10px;}

.tbl_type01 .mon span, .tue span, .wed span, .thu span, .fri span, .sat span, .sun span{ display: block; cursor: pointer;}
.tbl_type01 .mon.on span, .tue.on span, .wed.on span, .thu.on span, .fri.on span, .sat.on span, .sun.on span{background: #525252;}
.tbl_type01 .mon span:hover, .tue span:hover, .wed span:hover, .thu span:hover, .fri span:hover, .sat span:hover, .sun span:hover{background: #525252;}

.ani_title, .ani_del{display: block;}
.ani_title:hover, .ani_del:hover{background: #525252;}

.nameList{width: 100%; line-height:100px; height: auto; padding: 0; margin: 0; list-style: none; margin-bottom: 50px; display:inline-block;}
.nameList li{float: left; width:20%; line-height:50px; height: 50px; text-align: center;}
.nameList li a{display: block; color: #e3e3e3;}
.nameList li a:hover{background: #525252; }
.nameList .twitter_name{display: inline-block;}
.nameList .twitter_del{display: inline-block;}

.nameList2{width: 100%; line-height:100px; height: 100px; padding: 0; margin: 0; list-style: none; margin-bottom: 50px; height: auto;  display:inline-block;}
.nameList2 li{float: left; width:33%; line-height:50px; height: 50px; text-align: center;}
.nameList2 li a{display: block; color: #e3e3e3;}
.nameList2 li a:hover{background: #525252; }

.girlsList{list-style: none; display: block; padding:0;}
.girlsList img{max-width: 100%; display: block; margin: 0 auto; padding: 0;}

.calendar{width: 80%; margin: auto; text-align: center; color: #e3e3e3; border: none; background: #171717; padding: 30px;}
.calendar th{font-size: 20px;}
.calendar th,td{height: 50px; border: none;}
.calendar a{display: block; color: #e3e3e3; line-height: 50px;}
.calendar a:hover{background: #525252;}
.calendar .on{background: #525252;}
.calendar .cal_pre, .cal_next, .cal_date{text-align: center;}
.calendar .cal_pre:hover, .cal_next:hover{background: #525252;}
.cal_date{border-bottom: 2px #e3e3e3 solid !important; font-size: 25px !important; }
.cal_pre span{cursor: pointer; display: block;}
.cal_next span{cursor: pointer; display: block;}
.sun, .sun a{color:#ff8787 !important;}
.sat, .sat a {color:#9cd1ff !important;}
.calendar .holiday+a{color:#ff8787 !important;}

.ul_type01{list-style : none; width : 100%; display: block; padding:0;}
.ul_type01 a{color:white; font-size:25px; display : block;}
.ul_type01 a:hover{background: #525252;}
.ul_type01 li{list-style : none; display : block;}
.ul_type01 ul{margin-top : 15px; border-bottom: 1px solid white; padding: 0;}

/* 모달 */
.modal {display: none; position: fixed; z-index: 1; padding-top: 200px; left: 0;top: 0;width: 100%; height: 100%; overflow: auto; 
		background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4); }
.modal-content {margin: auto;	padding: 20px;	border: 1px solid #888;	width: 25%; border-radius:12px; background: #171717;}
.close {height: 25px; border-color: #242424; border-radius: 30px;	width: 70px;cursor: pointer;}
.close:hover, .close:focus {color: #000;text-decoration: none;cursor: pointer;}
.modal-content table{width: 100%; text-align: center; }
.modal-content table td{height: 50px; line-height: 50px;}
}