@CHARSET "UTF-8";
body{font-family:'NanumGothic', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Helvetica, Arial, Sans-serif; -webkit-box-sizing:border-box; box-sizing:border-box;
	margin: 0; padding: 0;}
body a{text-decoration: none; font-family:'NanumGothic', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Helvetica, Arial, Sans-serif; -webkit-box-sizing:border-box; box-sizing:border-box;}

@media all and (min-width:768px) { /* 데스크탑 CSS 작성 */

.content{width: 100%; margin-top: 30px;}
.header{width: 100%; text-align: center; vertical-align: middle; background: #8ad4ff; }

.logo{width: 9%; line-height: 50px; margin: 0; padding: 0; display: inline-block; background: #8ad4ff; color: white; font-weight: bold;} 

.menu, .menu ul{list-style: none;}
.menu{width: 80%; margin: 0; padding: 0; display: inline-block; background: #8ad4ff; }	
.menu a{color: white; display: block;}
.menu li{width: 150px; line-height: 50px; margin: 0; padding: 0; display: inline-block; }
.menu li:hover{background: #45bbff;}
.menu li:hover > ul{display: block;}
.menu ul{width: 150px; line-height: 50px; margin: 0; padding: 0; display: none; position: absolute; background: #8ad4ff; z-index: 1000;}
.menu ul li{width: 150px; line-height: 50px; margin: 0; padding: 0; display: block;}

.mobMenu{display: none;}

.login_menu{width: 9%; line-height: 50px; margin: 0; padding: 0; display: inline-block; background: #8ad4ff;}
.login_menu a{color:white;}

.modal{display: none;}

.bookMark{width:100%;}
.bookMark ul{width:50%; list-style: none; margin: 0 auto; padding: 0; display: block;}
.bookMark li{width: 29.5%; line-height: 250px; height: 250px; margin: 0; padding: 0; display: inline-block; opacity: 0.8;}
.bookMark img{width: 100%; height: 100%;}
.bookMark li:hover{opacity: 1;}

.ul_type01{list-style: none; text-align: left; margin: 0; padding: 0;}
.ul_type01 ul{padding: 5px;}
.ul_type01 li{list-style: none; margin: 0; padding: 0;}
.ul_type01 li a{color: black;}

.ul_type02{list-style: none; margin: 0; padding: 0; background: #8ad4ff;}
.ul_type02 li{width:19%; line-height: 50px; list-style: none; margin: 0; padding: 0; display: inline-block; text-align: center;}
.ul_type02 li a:hover{background: #45bbff;}
.ul_type02 li a{color: white; display: block;}

.ul_type03{list-style: none; margin: 0 auto; padding: 0;}
.ul_type03 li{width:100%; text-align: center; margin-top: 30px;}

.ul_type04{list-style: none; margin: 0; padding: 0; background: #8ad4ff;}
.ul_type04 li{width:10%; line-height: 50px; list-style: none; margin: 0; padding: 0; display: inline-block; text-align: center;}
.ul_type04 li a:hover{background: #45bbff;}
.ul_type04 li a{color: white; display: inline-block; padding: 0 10px 0 10px;}


.tbl_main{width: 70%; margin: 0 auto; padding: 0; text-align: center; margin-top: 30px; border-collapse: collapse; border-spacing: 0;}
.tbl_main, .tbl_main th, .tbl_main td{border: 1px solid black;}
.tbl_main th, .tbl_main td{padding : 10px;}
.tbl_main th{background: #8ad4ff; color: white; font-weight: bold;}
.tbl_main th a{color: white;}
.tbl_main .left{text-align: left;}

.search{display: block; text-align: center; margin: 20px;}
.btn{display: block; text-align: center; margin-top: 30px;}

.tbl_type01{width: 70%; margin: 0 auto; padding: 0; text-align: center; margin-top: 30px; border-collapse: collapse; border-spacing: 0;}
.tbl_type01, .tbl_type01 th, .tbl_type01 td{border: 1px solid black;}
.tbl_type01 th, .tbl_type01 td{line-height: 40px;}
.tbl_type01 th{background: #8ad4ff; color: white; font-weight: bold;}
.tbl_type01 th a:hover{background: #45bbff;}
.tbl_type01 th a{color: white; display: block;}
.tbl_type01 th span{display: block; cursor: pointer;}
.tbl_type01 td{cursor: pointer;}
.tbl_type01 a:hover{background: #8ad4ff;}
.tbl_type01 td a{display: block; color:black; margin: 0; padding: 0;}
.tbl_type01 .on{background: #45bbff;}
.tbl_type01 .left{text-align: left;}
.tbl_type01 ul{list-style: none; margin: 0; padding: 0;}
.tbl_type01 ul li{display: inline-block;}

.videoView{width: 50%; margin: auto;}


.tbl_type02{width: 70%; margin: 0 auto; padding: 0; text-align: center; margin-top: 30px; border-collapse: collapse; border-spacing: 0;}
.tbl_type02, .tbl_type02 th, .tbl_type02 td{border: 1px solid black;}
.tbl_type02 th, .tbl_type02 td{line-height: 40px;}
.tbl_type02 th{background: #8ad4ff; color: white; font-weight: bold;}
.tbl_type02 th a{color: white;}
.tbl_type02 td a{color:black;}



.paging{width: 50%; margin: 0 auto; margin-top:30px; padding: 0; text-align: center;}
.paging a{color: black;}
}