@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{background: #2B2B2B; margin:0; padding:0;}

.textCenter{text-align: center;}
.textLeft{text-align: left;}
.textRigth{text-align: rigth;}
.block{display: block;}
.block:hover{background: #4F4F4F;}
.btn_gray{border:none; padding:10px 20px 10px 20px; background: #4F4F4F; color:white; cursor:pointer}
.btn_gray:hover{background: #191919;}

.btnArea{width:50%; margin: auto; text-align: center; color: white;}
.btnArea input,select {line-height: 20px; width:40%; background: #DFDFDF; font-size: 15px;}

.menu{text-align: center; width: 100%; margin: 0 0 20px 0; padding: 0px; background: #191919; position: static;}
.menu a{text-decoration: none; color: white; display: block; line-height: 60px; font-size: 18px;}
.menu a:hover{background: #4F4F4F;}
.menu ul{list-style: none; display: block; width: 60%; margin: 0 auto; padding: 0;}
.menu ul li{width: 15%; display: inline-block; position: relative; margin:0; padding:0;}
.menu ul li:hover > ul{display: block;}
.menu ul li:hover > ul li{background: #3D3D3D;}
.menu ul li ul{width:100%; margin: 0; padding: 0; position: absolute; display: none;}
.menu ul li ul li{width:100%;}

.content{width:100%;}
.mainImage{width:50%; margin: auto;}
.mainImage img{width: 100%;}

.board{width:100%;}
.tbl_type01{width:80%; background: #4F4F4F; margin: 30px auto; border-collapse: collapse; border-spacing: 0;  color: white;}
.tbl_type01 a{text-decoration: none; color: white;}
.tbl_type01 a:hover{color: black;}
.tbl_type01, .tbl_type01 th, .tbl_type01 td{border: 1px solid black;}
.tbl_type01 th, .tbl_type01 td{line-height: 50px;}
.tbl_type01 th{font-size: 18px; background: #3D3D3D;}
.tbl_type01 .on{background: #4F4F4F;}
.tbl_type01 input,select {line-height: 20px; width:70%; background: #DFDFDF; font-size: 15px;}

.ul_type01{list-style: none; margin: 0 auto; padding: 0;}
.ul_type01 li{width:100%; text-align: center; margin-top: 10px;}
.ul_type01 li a{text-decoration: none; color:white;}

.directory{width: 100%; color:white;}
.directory a{color:white; text-decoration: none;}
.directory .directory_location{margin: 10px 0 10px 0; text-align: center;}

.paging{width: 50%; margin: 0 auto; margin-top:30px; padding: 0; text-align: center; color:white;}
.paging a{color: white; text-decoration: none;}
}