<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include/head :: head"></div>
	<title>ISign+</title>
</head>
<body>
	<form name="IdP_Selecting_form"
		action="sp/authnrequest" method="post">
		<table border="0" align="center">
			<tr>
				<td>
					<ul>
						<li>
			       		Select IdP to connect : 
			       		<select name="providerName">
						</select>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>			
					<ul>
						<li><a href="#" onclick='javascript:trySelect()'>로그인</a></li>
					</ul>
				</td>
			</tr>
		</table>
	</form>
	
	<script type="text/javascript" th:inline="javascript">
		var select = document.IdP_Selecting_form.providerName; //document.getElementByName("providerName");
		var idpList = [[${responseResult.idpList}]];
		if (idpList != null) {
			if (idpList.length == 0) {
				var opt = document.createElement('option');	// or new Option();
				opt.text = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
				opt.selected = true;
				select.add(opt);
				
				trySelect();
			} else {
				for (var i = 0; i < idpList.length; i++){
				    var opt = document.createElement('option');
				    opt.value = idpList[i];
				    opt.text = idpList[i];
				    select.add(opt);
				}
			}
		}
		
		// check error message
		var resultCode = [[${responseResult.resultCode}]];		
		var resultMessage = [[${responseResult.resultMessage}]];
		if (resultCode != '000000') {	// '000000' : 성공
			document.IdP_Selecting_form.style.display = 'none';
		
			/*
			if(resultMessage = null || resultMessage == '' || resultMessage == 'null') {
			    if(resultCode) {
			        alertErrorMessage(L[resultCode]);
			    }
			} else {
			    alert(resultMessage);
			}*/
			alert(resultMessage);
		}
		
		function trySelect() {
			var pageform = document.IdP_Selecting_form;
			if(pageform.providerName.value == "") {
				var key = "SELECT_IDP";
				alert(localMessage(key, locale));
				pageform.id.focus();
				return ;
			}
			pageform.submit();
	    }
		    		    
	</script>	
</body>
</html>