@CHARSET "UTF-8";
.chat_content{width:100%;}

.chat_data{
	overflow-y		: scroll;
	width			: 600px;
	height			: 600px;
	margin			: auto;
	margin-top		: 30px;
}

.chat_input{width:100%;}
.chat_input form{width:600px; margin:auto; margin-top:30px; text-align: center;}
.chat_input form #nick_name{width:100px;}
.chat_input form #content{width:400px;}