/*자원봉사 신청_캘린더*/
.car{width:40%;float:left;padding-right: 20px;}
.car_table{background-color:#fff;width: 60% !important;}
.car_table tr th{border: 1px solid #ddd;background: #edf5fc;}
.car_table td{border: 1px solid #e9e9e9;}

/*자료검색_캘린더*/
.car{width:40%;float:left;padding-right: 20px;}
.car_table{background-color:#fff;width: 60% !important;}
.car_table tr th{border: 1px solid #ddd;background: #edf5fc;}
.car_table td{border: 1px solid #e9e9e9;}

/*데이터피커 커스터마이징*/
.ui-datepicker {font-size:100% !important; border-radius:0 !important;padding: 0em 0em 0 !important;}
.ui-widget-content {background:#fff !important;}
.ui-datepicker .ui-datepicker-header {border:0 !important;background:#175bc4;border-radius:0;padding: .6em 0 !important;}
.ui-datepicker .ui-datepicker-title {font-size:14px !important;}
.ui-datepicker th {color: #085dc0 !important;font-size:90% !important;padding: .5em .3em !important;}
.ui-datepicker td {padding:0 !important; font-size:14px !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#fff !important;}
.ui-datepicker td span, .ui-datepicker td a {text-align:center !important;font-size:95% !important;padding: .3em .1em !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {background:#eaeffb !important; border:1px solid #eaeffb !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border-color:#fff !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-highlight:hover, .ui-widget-content .ui-state-highlight:hover, .ui-widget-header .ui-state-highlight:hover {background: #c7e4ff !important;color: #0741ab !important; /*border-radius:50px; height:30px; width:30px; }
.ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {cursor:pointer; border-color: transparent !important; background:url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x !important;*/}
.ui-datepicker table {width: 90% !important;font-size:100% !important;margin: 5px auto !important;margin-bottom: 10px !important;/* padding: 20px !important; */}
.ui-datepicker .ui-datepicker-calendar thead tr{/*background: #f1f7fd;*/ border-bottom: 1px dotted #eee;}
.ui-datepicker .ui-datepicker-prev span{
display: block;position: absolute;left: 50%;margin-left: -8px !important;top: 50%;margin-top: -8px;
background: url(/images/common/ico_l_arr6_w.png) center right 2px no-repeat !important;}

.ui-datepicker .ui-datepicker-next span {background: url(/images/common/ico_r_arr6_w.png) center right 2px no-repeat !important;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position: absolute;top: 12px !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {width: 32% !important;background: none;
border: 1px solid #3f78d3;margin-right: 3px !important;color: #fff;font-size: 1.1em !important;font-weight: 300;height: 30px;line-height: 30px;
background: url(/images/common/ico_b_arr5_w.png) center right 8px no-repeat;
}
.ui-datepicker select option{color: #333;font-size:0.9em ! important;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover {
background:#175bc4 !important; color:#fff !important;}

/*분류*/
.badge_area{width: 100%;text-align: right;}
.badge_guide > span {margin-left:8px; display:inline-block;font-size: 13px;letter-spacing: -0.3px;}
.badge_guide > span > i {margin-right:3px;}
.badge_i{display:inline-block;    padding-left: 20px;}
.badge {display:inline-block; width:25px; height:25px; overflow:hidden; padding:4px; box-sizing:border-box; 
font-size:0px; line-height:9px; vertical-align:middle; text-transform:none;}
.ca1 {background:url(/images/common/ico_online.png)center center no-repeat;}
.ca2 {background:url(/images/common/ico_phone.png)center center no-repeat;}
.ca3 {background:url(/images/common/ico_tb_home.png)center center no-repeat;}

.badge_i.ca1 {background:url(/images/common/ico_online.png)center left no-repeat;}
.badge_i.ca2 {background:url(/images/common/ico_phone.png)center left no-repeat; padding-left: 22px;}
.badge_i.ca3 {background:url(/images/common/ico_tb_home.png)center left no-repeat; padding-left: 25px;}

/*등록*/
/*open layer*/
.layer_wrap{display:none;position:absolute;top:0px;left:0px;width:400px;z-index:1000;}
.layer_wrap .layer_container{position:relative;background:#fff;overflow:hidden;}
.layer_wrap .layer_head{height: 50px;line-height: 50px;padding-left: 15px;background: #2385e0;font-size: 20px;color: #fff;font-weight: 100;}
.layer_wrap .layercon{padding:15px;height: auto;}
.layer_wrap .layercon form, .layer_wrap .layercon .form{background: #f1f8ff;padding: 10px;}
.layer_wrap .layercon .form{    text-align: center;padding: 20px;color: #000;font-weight: 300;font-size: 15px;;}
.layer_wrap .layercon label{width: 24%;float: left;text-align: center;margin-top: 2px;margin-right: 6%;}
.layer_wrap .layercon input.text_form{width:70%;margin-bottom: 8px;height: 30px;}
.layer_wrap .first_close{position:absolute;top:0px;right:0px;}
.layer_wrap .last_close{text-align: center;background: #4b84dc;color: #fff;border-radius: 5px;width: 100px;height: 30px;line-height: 30px;display: inline-block;}
.layer_wrap .last_close:hover, .layer_wrap .last_close:focus, .lastClose:active{background: #6d9eea;}
.layer_wrap .first_close {width: 25px;height: 25px;margin-top: 10px;margin-right: 10px;}
.layer_wrap .close_area{text-align: center;margin-top: 10px;}

#mask {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999;background: rgba(0,0,0,0.5);display: none;}


/*--------- 반응형 ----------*/

@media all and (max-width:1220px){
/*자료검색_캘린더*/
.car{width:50%;padding-right: 20px;}
.car_table{width: 50% !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year 
{width: 40% !important;}
}


@media all and (max-width:768px){

}

@media all and (max-width:640px){
/*자료검색_캘린더*/
.car{width:100%;padding-right: 0px; padding-bottom:20px !important;}
.car_table{width: 100% !important;}
}

@media all and (max-width:480px){
/*open layer*/
.layer_wrap{display:none;position:absolute;top:0px;left:0px;width:300px;z-index:1000;}
}

@media all and (max-width:360px) {
}

/*이미지 pc사이즈*/
.img01{max-width:920px;}
.img01_2{display:none !important;}                                                                                