<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	
	<mappers>
		<mapper resource="mybatis/oracle_crizel-mapping.xml" />
		<mapper resource="mybatis/oracle_money-mapping.xml" />
		<mapper resource="mybatis/oracle_diary-mapping.xml" />
		<mapper resource="mybatis/oracle_girls-mapping.xml" />
		<mapper resource="mybatis/oracle_board-mapping.xml" />
		<mapper resource="mybatis/oracle_wiki-mapping.xml" />
	</mappers> 
	
	<!-- 
	<mappers>
		<mapper resource="mybatis/mysql_crizel-mapping.xml" />
		<mapper resource="mybatis/mysql_money-mapping.xml" />
	</mappers>
	-->
</configuration>