<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body">

        <p class="login-box-msg" th:utext="#{비밀번호재설정_타이틀}"></p>
        <p class="login-box-msg" th:utext="#{비밀번호재설정_설명}"></p>
        <form id="form-passwordChange">
        	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
			<input type="hidden" id="userId" name="userId" th:value="${userId}">
			<input type="hidden" id="question" name="question" th:value="${question}">
			<input type="hidden" id="userId" name="answer" th:value="${answer}">
            <div class="alert alert-danger" style="display:none;" id="error-alert">
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="newPw" name="newPw" th:placeholder="#{비밀번호재설정_새비밀번호}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="rePw" name="rePw" th:placeholder="#{비밀번호재설정_비밀번호확인}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                   <button type="button" id="btn-cancel" class="btn btn-default btn-block btn-flat" th:utext="#{비밀번호재설정_취소_버튼}">취소</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" id="btn-save" class="btn btn-primary btn-block btn-flat" th:utext="#{비밀번호재설정_변경_버튼}"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/password/passwordSet.js}"></script>

</body>
</html>