<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body">
       <p class="login-box-msg" th:utext="#{보안질문답_설명}">보안 질문에 답하기</p>
       	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
      		<input type="hidden" id="userId" name="userId" th:value="${userId}">
           <div class="alert alert-danger" style="display:none;" id="error-alert">
           </div>
           <div class="form-group has-feedback">
			<select id="question" name="question" style="width:100%;">
               <option value="" th:utext="#{보안질문답_질문_선택}"></option>
               <option value="Q1" th:utext="#{사용자포털_비밀번호찾기_Q1}"></option>
               <option value="Q2" th:utext="#{사용자포털_비밀번호찾기_Q2}"></option>
               <option value="Q3" th:utext="#{사용자포털_비밀번호찾기_Q3}"></option>
               <option value="Q4" th:utext="#{사용자포털_비밀번호찾기_Q4}"></option>
               <option value="Q5" th:utext="#{사용자포털_비밀번호찾기_Q5}"></option>
               <option value="Q6" th:utext="#{사용자포털_비밀번호찾기_Q6}"></option>
               <option value="Q7" th:utext="#{사용자포털_비밀번호찾기_Q7}"></option>
               <option value="Q8" th:utext="#{사용자포털_비밀번호찾기_Q8}"></option>
               <option value="Q9" th:utext="#{사용자포털_비밀번호찾기_Q9}"></option>
               <option value="Q10" th:utext="#{사용자포털_비밀번호찾기_Q10}"></option>
           </select>
           </div>
           <div class="form-group has-feedback">
               <input type="text" class="form-control" th:placeholder="#{보안질문답_답변}" id="answer"name="answer">
               <span class="glyphicon glyphicon-user form-control-feedback"></span>
           </div>
           <div class="row">
               <div class="col-xs-4">
               </div>
               <div class="col-xs-4">
                   <button type="button" id="btn-cancel" class="btn btn-default btn-block btn-flat" th:utext="#{보안질문답_취소_버튼}">취소</button>
               </div>
               <div class="col-xs-4">
                   <button type="button" id="btn-continue" class="btn btn-primary btn-block btn-flat" th:utext="#{보안질문답_계속_버튼}">계속</button>
               </div>
           </div>
    </div>
</div>
<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/password/passwordQA.js}"></script>
</body>
</html>