<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body">
		<p class="login-box-msg" th:utext="#{ID입력_설명}">시작하려면 ID를 입력하십시오.</p>
        <p class="login-box-msg" style="text-align: left;" th:utext="#{ID입력_서브설명}">여기서 잊어버린 비밀번호를 재설정할 수 있습니다.</p>
       	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
       	<input type="hidden" id="userId" name="userId" th:value="${userId}">
		<div class="alert alert-danger" style="display:none;" id="error-alert">
		</div>
		<div class="form-group has-feedback">
			<input type="text" class="form-control" placeholder="ID" id="id"name="id">
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<input type="text" class="form-control" th:placeholder="#{ID입력_captcha}" id="captcha" name="captcha" maxlength="12">
		</div>  
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-xs-8" style="height: 60px">
				<div id="captchaAudio" style="display: none;"></div>
				<span id="captchaImg" style="width: 180px; height: 60px"></span>
			</div>
			<div class="col-xs-4" >
		       	<button type="button" id="btn-soundOn" class="btn btn-default" style="margin-top: 15px; display: none;" th:title="#{ID입력_captcha_sound}">
	                <i class="fa fa-play"></i>
		       	</button>
		       	<button type="button" id="btn-reLoad" class="btn btn-default" style="margin-top: 15px;" th:title="#{ID입력_captcha_reload}">
	                <i class="fa fa-repeat"></i>
		       	</button>
			</div>
		</div>     
		<div class="row">
			<div class="col-xs-4">
			</div>
			<div class="col-xs-4">
				<button type="button" id="btn-cancel" class="btn btn-default btn-block btn-flat" th:utext="#{ID입력_취소_버튼}">취소</button>
			</div>
			<div class="col-xs-4">
				<button type="button" id="btn-continue" class="btn btn-primary btn-block btn-flat" th:utext="#{ID입력_계속_버튼}">계속</button>
			</div>
		</div>
	</div>
</div>
<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/password/userId.js}"></script>
</body>
</html>