<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body">
    	<p class="login-box-msg" th:utext="#{에러_타이틀}"></p>
        <form id="form-home">
        	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
            <div class="alert alert-danger" id="error-alert" th:if="${ERROR_MESSAGE}">
            	<p th:utext="${ERROR_MESSAGE}"></p>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="button" id="btn-home" class="btn btn-primary btn-block btn-flat" th:utext="#{에러_home}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/common/error.js}"></script>
</body>
</html>