<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="jslibs">
    <!-- backdrop template -->
    <script type="text/lodash-template" id="tpl-backdrop">
        <div class="backdrop">
            <div class="backdrop-content">
                <div>
                  <i class="fa fa-spin fa-refresh"></i>  Loading ...
                </div>
            </div>
        </div>
    </script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/jQuery/jQuery-2.1.4.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/dist/js/app.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/pace/pace.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/webjars/adminlte/2.3.2/plugins/flot/jquery.flot.min.js}"></script>
    <script th:src="@{/webjars/lodash/4.2.0/dist/lodash.min.js}"></script>
    <script th:src="@{/webjars/iCheck/1.0.2/icheck.min.js}"></script>
    <script th:src="@{/webjars/toastr/2.1.2/build/toastr.min.js}"></script>
    <script th:src="@{/webjars/twbs-pagination/1.2.5/jquery.twbsPagination.js}"></script>
    <script th:src="@{/webjars/momentjs/2.11.1/moment.js}"></script>
    <script th:src="@{/webjars/chartjs/1.0.2/Chart.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-treeview/1.2.0/dist/bootstrap-treeview.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js}"></script>
    <script th:src="@{/webjars/bootstrap-daterangepicker/2.1.19/js/bootstrap-daterangepicker.js}"></script>
    <script th:src="@{'/resources/js/common/locale.' + ${locale?.language} +'.js'}"></script>
    <script th:src="@{/resources/js/common/common.js}"></script>
    <script th:src="@{/resources/js/common/isp-table.js}"></script>
    <script th:inline="javascript">
        ISP.props = {
            contextPath: /*[[${#httpServletRequest.getContextPath()}]]*/ '/',
            _csrf: /*[[${_csrf.token}]]*/ ''
        };
    </script>
</div>
</body>
</html>
