<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="include/head :: head"></div>
    <title>ISign+</title>
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:360px;">
    <div class="login-logo"><a href="/login.html">ISign +</a></div>
        
    <div class="login-box-body" th:if="${tempOtpNumberCnt} != 0">
        <p class="login-box-msg" th:utext="#{임시OTP발급_타이틀}">임시 OTP 발급 성공</p>
        <p class="login-box-msg" style="text-align: left;">
        	<span th:utext="#{임시OTP발급_설명1}"></span><br>
        	<span th:utext="#{임시OTP발급_설명2}"></span>&nbsp;<span class="text-red" th:text="${tempOtpNumberCnt}"></span><span class="text-red" th:utext="#{임시OTP발급_회}"></span>&nbsp;<span th:utext="#{임시OTP발급_설명3}"></span>
        </p>
       	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
       	<input type="hidden" id="userId" name="userId" th:value="${userId}">
           <div class="alert alert-danger" style="display:none;" id="error-alert">
           </div>
           <div class="form-group has-feedback">
               <input type="text" class="form-control" id="tempOtpNuber"name="tempOtpNuber" readonly="readonly" th:value="${tempOtpNumber}">
               <span class="glyphicon glyphicon-user form-control-feedback"></span>
           </div>
           <div class="row">
               <div class="col-xs-5">
               </div>
               <div class="col-xs-7">
                    <button type="button" id="btn-login" class="btn btn-primary btn-block btn-flat" th:utext="#{임시OTP발급_OTP로그인바로가기}"></button>
               </div>
           </div>
    </div>
    
    <div class="login-box-body" th:if="${tempOtpNumberCnt} == 0">
        <p class="login-box-msg" th:utext="#{임시OTP발급실패_타이틀}">임시 OTP 발급 실패</p>
        <p class="login-box-msg" style="text-align: left;">
        	<span th:utext="#{임시OTP발급실패_설명1}"></span><br>
        	<span th:utext="#{임시OTP발급실패_설명2}"></span>
        </p>
       	<input type="hidden" id="agentId" name="agentId" th:value="${agentId}">
       	<input type="hidden" id="userId" name="userId" th:value="${userId}">
           <div class="alert alert-danger" style="display:none;" id="error-alert">
           </div>
           <div class="row">
               <div class="col-xs-8">
               </div>
               <div class="col-xs-4">
                    <button type="button" id="btn-login" class="btn btn-default btn-block btn-flat" th:utext="#{임시OTP발급실패_확인_버튼}"></button>
               </div>
           </div>
    </div>
</div>
<div th:replace="include/jslib :: jslibs"></div>
<script th:src="@{/resources/js/authentication/otp/temporaryOtpNumber.js}"></script>
</body>
</html>