<div class="content">
	<img-comp></img-comp>	
	<movie-comp></movie-comp>	
</div>


<script>
	$(function(){
		$(document).on("keydown", "html", function(){
			if(event.keyCode == 65){
				$(".prevBtn").trigger("click");
			}else if(event.keyCode == 68){
				$(".nextBtn").trigger("click");
			}
		});
	})

	var moveChk = true;

	function slideSet(){
		var leftVal = 0;
		var maxLeftVal = 0;	
		
		var slideVal = $(".slide ul li").css("width").replace("px", '');
		
		$(".slide li").each(function(){
			$(this).css('left', leftVal);
			leftVal += Number(slideVal);
		});
		maxLeftVal = leftVal;
		$(document).on("click", ".prevBtn", function(){
			if(moveChk == true){
				moveChk = false;
				var clone = $(".slide ul li").eq($(".slide ul li").length-1).clone();
				clone.prependTo($(".slide ul"));	
				$(".slide ul li").eq($(".slide ul li").length-1).remove();
				$(".slide ul li").eq(0).css('left', -Number(slideVal));
				$(".slide li").each(function(){			
					$(this).animate({left:'+='+Number(slideVal)}, function(){moveChk = true;});
				});
			}
			
		});
		$(document).on("click", ".nextBtn", function(){
			if(moveChk == true){
				moveChk = false;
				$(".slide li").each(function(index){
					$(this).animate({left:'-=' + Number(slideVal)}, function(){
						if(index == 0){
							var clone = $(this).clone();
							clone.appendTo($(".slide ul"));	
							$(this).remove();
							$(".slide ul li").eq($(".slide ul li").length-1).css('left', maxLeftVal-Number(slideVal));
							$("#imgStr").text();					
						}
						moveChk = true;
					});
				});
			}
		});
	}



	//	- 파라미터 불러오는 함수
	function getParams() {
		// 파라미터가 담길 배열
		var param = new Array();
	
		// 현재 페이지의 url
		var url = decodeURIComponent(location.href);
		// url이 encodeURIComponent 로 인코딩 되었을때는 다시 디코딩 해준다.
		url = decodeURIComponent(url);
	
		var params;
		// url에서 '?' 문자 이후의 파라미터 문자열까지 자르기
		params = url.substring( url.indexOf('?')+1, url.length );
		// 파라미터 구분자("&") 로 분리
		params = params.split("&");
	
		// params 배열을 다시 "=" 구분자로 분리하여 param 배열에 key = value 로 담는다.
		var size = params.length;
		var key, value;
		for(var i=0 ; i < size ; i++) {
			key = params[i].split("=")[0];
			value = params[i].split("=")[1]; 
			param[key] = value;
		}
	
		return param;
	}

	Vue.component('img-comp', {
		template : `
			<div class="mainImg">					
				<a href="javascript:void(0)" class="prevBtn">◀</a>
				<div class="slide">
					<ul class="img">
						<li v-for="ob in imgList">
							<span class="imgStr">{{ob.name}}</span>
							<a href="javascript:void(0);"><img :src="'http://59.21.170.230:8080/jsp/imageView4.jsp?fileValue=' + ob.path" :title="ob.name"></a>
						</li>
					</ul>
				</div>
				<a href="javascript:void(0)" class="nextBtn">▶</a>
			</div>
		`
		, data : function(){
			return{
				imgList : []
			}
		}
		, created(){
			this.fn_getImgList();
		}
		, updated(){
			slideSet();
		}
		, methods : {
			fn_getImgList : function(){
				var ref = this;
				var params = getParams();
				$.ajax({
					url : 'http://59.21.170.230:8080/jsp/ajax/girlsImg.jsp'
					, data : {type : 'private'}
					, success : function(data){
						ref.imgList = JSON.parse(data);
					},error:function(request,status,error){
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					}
				});
			}
		}
	});
Vue.component('movie-comp', {
	template : `
	<div class="movies">
		<table class="tbl_type01">
			<colgroup>
				<col style="width:10%;"/>
				<col style="width:90%;"/>
			</colgroup>
			<thead>
				<tr>
					<th>순위</th>
					<th>영화명</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="ob in movieList">
					<td>
						{{ob.rank}}
					</td>
					<td>
						<a :href="'https://movie.naver.com/movie/search/result.naver?query='+ob.movieNm+'&section=all&ie=utf8'" target="_blank">{{ob.movieNm}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	`
	, data : function(){
		return{
			movieList : []
		}
	}
	, created(){
		this.fn_getMovies();
	}
	, methods : {
		fn_getMovies : function(){
			var ref = this;
			var day= new Date();
			day.setDate(day.getDate() - 7);
			var key = 'af6cbec63ac47906095794b914d659e7';
			var dayStr = day.getFullYear() + '' + ((day.getMonth()+1)>10?(day.getMonth()+1):'0'+(day.getMonth()+1)) + '' + (day.getDate()>10?day.getDate():'0' + day.getDate());
			
			var url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key='+key+'&targetDt='+dayStr
			$.ajax({
				url : url
				, type : "GET"
				, success : function(data){
					ref.movieList = data.boxOfficeResult.weeklyBoxOfficeList
				}
				, error : function(err){
					alert('movie Err : ' + err);
				}
			});
		}
	}
});


new Vue({
	el : '.content'
})

</script>