.backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0;
    opacity:0;
    -webkit-transition:opacity .15s linear;
    transition:opacity .15s linear;
    background:rgba(255,255,255,0.3);
}
.backdrop.show {
    opacity:1;
}

.backdrop-content {
    margin:50px;
    margin-top:150px;
    text-align:center;
}

.backdrop-content div {
    margin:0 auto;
    color:#fff;
    font-size:18px;
    display:inline-block;
    background-color:rgba(0,0,0,0.8);
    border-radius:10px;
    padding:25px;
}